@import url("https://fonts.googleapis.com/css?family=Montserrat&subset=cyrillic");

$green-color: #9BCC5A;
$blue-color: #23283A;
$red-color: #fc7d7d;

$primary-text: #E9EAEB;

$font: "Montserrat", serif;

$font-size-h1: 18px;
