*
!package.json
!yarn.lock
!tsconfig.json

# todo Investigate, why it is not possible to specify explicitly include files and need to include everything and exclude others.
!libs/
libs/*/node_modules
libs/*/lib
libs/*/jest.config.js

!services/*/package.json
!services/*/tsconfig.json
!services/*/yarn.lock
!services/*/src

!services/radiomanager-frontend/docker
!services/radiomanager-frontend/.env
!services/radiomanager-frontend/.postcssrc.json

!services/migration/knexfile.js
!migrations/
