@import "styles/fonts";
@import "styles/colors";

html, body {
  font-family: $primary-font;

  padding: 0;
  margin: 0;

  background-color: mor-color('background');
  color: mor-color('foreground');
}
